div.row {
    padding-left: 20px;
    padding-right: 20px;
}

div.secs {
    min-height: 100vh;
    padding-top: 40vh;
}

.hidden{
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1s;
} 

.shown {
    transform: translateX(0);
    opacity: 1;
}

.nav-item {
    padding-top: 3px;
}